<input id="hamburger" type="checkbox" class="hamburger" />
<label for="hamburger" class="hamburger">
  <span class="nv">Toggle menu (if not visible)</span>
</label>
<header class="emergent-header">
  <div class="glory">
    <div class="flex holder">
      <img src="/assets/img/logo.png" width="300px">
      <h1>Data Catalogue</h1>
    </div>
  </div>
  <div class="holder opacity">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/catalogue">Catalogue</a>
        </li>
        <li>
          <a href="/add">Add Data</a>
        </li>
        <li><a href="https://emergentalliance.org/">The Alliance</a></li>
      </ul>
    </nav>
  </div>
</header>