/*  
    The styling for this site uses ODI Leeds' default stylesheet.
    It can be found at https://odileeds.org/resources/style.css
    This stylesheet is just some minor tweaks we have made.
*/

/* header and homepage */
#top {
  text-align: center;
  margin: 20px 0;
  padding: 25px;
}
a.s1-bg:visited {
  color: white;
}
.emergent-header {
  /* background-image: url('/assets/img/emergent-bg-small.png'); */
  background-image: url('/assets/img/header.jpg');
  min-height: 186px !important;
}
@media only screen and (max-width: 580px) {
  .emergent-header {
    background-color: #0b002a;
    background-image: url('/assets/img/small-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }
}
.emergent-header .flex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
}
.emergent-header .flex > * {
  padding: 0;
  margin: 0;
}

.emergent-header h1 {
  padding: 1em;
  font-size: 3rem;
  text-shadow: 0.5px 0.5px;
}
.opacity {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* Dataset page */
#dataset h3 {
  font-weight: 500;
  font-size: 1.7em;
}
#dataset .download {
  float: right;
  position: relative;
  top: 30px;
}
#resources,
#references {
  margin-top: 10px;
}
#resources ul {
  list-style-type: none !important;
  margin: 0;
}
#resources h4 {
  font-size: 1.1em;
  padding-bottom: 10px;
}
table.odi {
  max-width: 100%;
  overflow: scroll;
  table-layout: fixed;
  word-wrap: break-word;
}
table.odi th {
  width: 25%;
  text-align: center;
}

.header-colour {
  background-color: #0a1c9f;
  color: white;
}